body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-container {
  display: flex;
  flex-direction: column;
}

#footer {
  position: static;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  background-color: #e49f57;
  display: flex;
  justify-content: space-around;
}

#footer p {
  text-align: left;
  color: white;
  padding: 15px;
}

#footer p:nth-child(2) {
  text-align: right;
  padding: 15px;
}

#main-body {
  flex-grow: 8;
}

.bg-fire {
  background-color: #c88c7e;
}
