body {
  font-family: Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-container {
  display: flex;
  flex-direction: column;
}

#footer {
  position: static;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
  background-color: #231c65;
  display: flex;
  justify-content: space-around;
}

#footer p {
  text-align: left;
  color: #856de2;
  padding: 15px;
  font-family: Book Antiqua;
}

#footer p:nth-child(2) {
  text-align: right;
  padding: 15px;
}

#main-body {
  flex-grow: 8;
}

.bg-fire {
  background-color: #231c65;
}

.body {
  height: 100vh;
  margin: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
  background-color: #352d7b;
}

#error {
  height: 700px;
  width: 1000px;
}

.product-image {
  height: 300px;
  width: 300px;
  border: 7px solid #242465;
}

#api-error-background {
  background-image: url('https://wallpapercave.com/wp/wp2341968.jpg');
}

.error-words {
  color: #856de2;
  text-shadow: 3px 0 black, 0 3px black, 3px 0 black, 0 3px black;
  font-size: 24pt;
  font-family: Helvetica, sans-serif;
}

.all-products-images {
  border: solid #242465;
}

.product-rows {
  padding: 10px, 10px;
}

.color {
  color: #856de2;
  font-family: Book Antiqua;
}

.link {
  color: #856de2;
  font-family: Book Antiqua;
  font-size: 14pt;
}

.link:hover {
  color: #6d5ba9;
  text-decoration: none;
}

.brand {
  font-size: 24pt;
  font-family: Book Antiqua;
}

#navbar {
  height: 10vh;
}

.cart {
  margin-top: 50px;
}

.center {
  text-align: center;
}
